<article class="card-body row">
    <div class="col-md-4"></div>
    <form class="col-md-4" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="">Old Password</label>
            <input type="password" formControlName="OldPassword" class="form-control border-primary"
              [ngClass]="{ 'is-invalid': submitted && f['OldPassword'].errors }" />
            <div *ngIf="submitted && f['OldPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['OldPassword'].errors['required']">Password is required</div>
              <div *ngIf="f['OldPassword'].errors['minlength']">
                Password must be at least 8 characters
              </div>
              <div *ngIf="f['OldPassword'].errors['pattern']">
                Password must contain at least one number and both lower and uppercase letters and special characters
              </div>
            </div>
          </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="NewPassword" class="form-control border-primary"
          [ngClass]="{ 'is-invalid': submitted && f['NewPassword'].errors }" />
        <div *ngIf="submitted && f['NewPassword'].errors" class="invalid-feedback">
          <div *ngIf="f['NewPassword'].errors['required']">Password is required</div>
          <div *ngIf="f['NewPassword'].errors['mustMatch']">
            Old and new passwords should be different
          </div>
          <div *ngIf="f['NewPassword'].errors['minlength']">
            Password must be at least 8 characters
          </div>
          <div *ngIf="f['NewPassword'].errors['pattern']">
            Password must contain at least one number and both lower and uppercase letters and special characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" formControlName="ConfirmPassword" class="form-control border-primary" [ngClass]="{
          'is-invalid': submitted && f['ConfirmPassword'].errors
        }" />
        <div *ngIf="submitted && f['ConfirmPassword'].errors" class="invalid-feedback">
          <div *ngIf="f['ConfirmPassword'].errors['required']">
            Confirm Password is required
          </div>
          <div *ngIf="f['ConfirmPassword'].errors['mustMatch']">
            Passwords must match
          </div>
        
        </div>
      </div>
      <div class="form-group">
        <div class="text-center">
          <button class="btn bg-primary text-white mr-1">Submit</button>
          <button class="btn btn-secondary" type="reset" (click)="onReset()">
            Cancel
          </button>
        </div>
      </div>
      <!-- <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our
        <br />
        Terms of use and Privacy Policy.</small> -->
    </form>
    <div class="col-md-4"></div>

  </article>