<h1 class="text-center ">404</h1>
<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="">
                    </div>
                    <div class="contant_box_404">
                        <h3 class="h2">
                            Looks like you're lost
                        </h3>
                        <p>The Page you are trying to access doesn't appear to exist.</p>
                        <a href="" class="link_404">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>