/* You can add global styles to this file, and also import other style files */

.bg-primary {
    background-color: #13293e!important;
}
.bg-success-custom {
    /* background-color: #66ba99!important; */
    background-color: #66ba99!important;
}
.bg-secondry {
    background-color: #555656!important;
}

.mandatory {
    color: red; /* Set the color of the asterisk to red */
}

@import '~bootstrap/dist/css/bootstrap.min.css';
