.input-line {
    border: none; /* Remove the border */
    border-bottom: 1.7px solid #ccc; /* Add a bottom border */
    outline: none; /* Remove the outline */
    padding: 5px 0; /* Adjust padding as needed */
    width: 100%; /* Set the width to fill the container */
  }
  
  /* Style for the input field when focused */
  .input-line:focus {
    border-bottom: 1.7px solid blue; /* Change the bottom border color when focused */
  }

  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}